@import '~styles/mixins';
@import '~styles/variables';

.container {
  color: white;
  padding: 150px 0 250px;
  position: relative;
}

.layout {
  @include layout;
  padding-bottom: 220px;
  position: relative;
  text-align: left;
}

.topic {
  @include topic();
  font-weight: bold;
}

.topWrap {
  display: flex;
  padding-bottom: 60px;
  position: relative;
}

.titleWrap {
  max-width: 570px;
}

.title {
  @include header();
}

.subheader {
  @include subheader();
}

.bodyWrap {
  column-gap: 20px;
  display: flex;
  flex-direction: column;
}

.textBlock {
  line-height: 26px;
  max-width: 400px;
}


.tabletImg {
  right: 0;
  z-index: 1;
  position: absolute;
  width: 100%;
  top: -350px;
  max-width: 681px;
}

.containerBackground {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  object-position: left;
}

@media (min-width: $screen-sm-min) {
  .tabletImg {
    display: block;
    left: 650px;
  }

  .bodyWrap {
    flex-direction: row;
    justify-content: space-between;
  }

  .topWrap {
    padding-bottom: 150px;
  }
}

@media (min-width: $screen-lg-min) {
  .tabletImg {
    right: 0;
    top: -320px;
    width: 681px;
  }

  .layout {
    padding-bottom: 130px;
  }
}
