@import '~styles/mixins.scss';

.container {
  height: 1280px;
  position: relative;
}

.layout {
  @include layout;
  position: relative;
}

.page {
  max-width: 675px;
  position: absolute;
  z-index: 1;
}

.left {
  left: 0;
  top: -380px;
  width: 100vw;
}

.right {
  right: 0px;
  top: 600px;
  width: 100vw;
}

.rectangle {
  background-image: url('~images/rectangle_2.png');
  color: white;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  height: 525px;
  justify-content: center;
  left: 0;
  padding: 40px;
  position: absolute;
  text-align: left;
  top: 110px;
  z-index: 3;
  width: 100%;
}

.body {
  font-family: $title;
  font-size: 24px;
  margin-bottom: 30px;
}

@media (min-width: $screen-sm-min) {
  .left {
    left: 75px;
    top: 560px;
    width: initial;
  }

  .right {
    right: 0;
    top: 700px;
    width: initial;
  }

  .rectangle {
    left: 20px;
    width: 360px;
  }

  .top {
    display: block;
    right: 200px;
    top: 0;
  }

  .fade {
    display: block;
    left: 0;
    max-width: 100vw;
    position: relative;
    z-index: 1;
    top: -350px;
  }

  .left, .top {
    display: none;
  }
}

@media (min-width: $screen-md-min) {
  .left {
    display: block;
  }

  .top {
    right: 40px;
    top: 150px;
    display: block;
  }

  .fade {
    left: 280px;
    max-width: 1010px;
    top: -350px;
  }
}
