@import '~styles/mixins';

.container {
  background: url('~images/texture_bg2.png');
  background-position: 0 -21px;
  background-repeat: no-repeat;
  color: white;
  height: 1070px;
}

.layout {
  margin: 0 auto;
  max-width: 1275px;
}

.header {
  font-family: bebas-neue-pro-expanded, sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  max-width: 200px;
  padding-top: 200px;
  text-transform: uppercase;
}

.subheader {
  @include subheader;
  margin-top: 30px;
  max-width: 600px;
  text-align: left;
}
