@import '~styles/mixins';
@import '~styles/variables';

.container {
  background-image: url('~images/texture_bg2.png');
  background-position: 0 -21px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 1166px;
}

.layout {
  @include layout;
}

.header {
  font-family: $title;
  font-size: 90px;
  font-weight: 700;
  line-height: 90px;
  max-width: 200px;
  text-transform: uppercase;
}

.intro {
  display: flex;
  flex-direction: column;
  padding-top: 500px;
}

.subheader {
  @include subheader;
  display: none;
  margin-top: 30px;
  max-width: 600px;
  text-align: left;
}

.phones {
  position: absolute;
  top: 0;
}

.devices {
  position: relative;
  transform: translateY(0);
}

.phones {
  display: none;
}

.device {
  left: 0;
  position: absolute;
  top: 0;
}

.phone {
  left: 250px;
  top: 60px;
}

.laptop {
  left: -25px;
  top: 50px;
  width: 800px;
}

.tablet {
  left: 50px;
  top: -100px;
  width: 700px;
}

.barGroup {
  display: none;
}

.progressBar {
  background-color: #777;
  height: 2px;
  margin-right: 5px;
  margin-top: 40px;
  position: relative;
  transition: background-color 0s;
  width: 80px;

  &:first-child {
    width: 185px;
  }

  &.active {
    background: white;
    transition: background-color 0.3s;
  }
}

.progressBarInner {
  background-color: $magenta;
  height: 2px;
  position: absolute;
  transition: none;
  width: 0px;
}

.active .progressBarInner {
  animation: progress 5s linear forwards;
}

.active:first-child .progressBarInner {
  animation: progress 10s linear forwards;
}

.barTitle {
  color: $magenta;
  font-weight: bold;
  margin-top: 20px;
  text-align: left;
}

.mobileOnly {
  display: block;
  left: 0;
  position: absolute;
  top: 0;

  .device {
    height: 450px;
    top: 150px;
  }

  .phone {
    height: 500px;
    left: 240px;
    top: 80px;
  }
}

@keyframes progress {
  to {
    width: 100%;
  }
}

@media (min-width: $screen-md-min) {
  .mobileOnly * {
    display: none;
  }

  .phones {
    display: block;
    position: initial;
  }

  .container {
    background-position: 0 -21px;
    height: 1070px;
  }

  .devices {
    display: block;
    position: relative;
  }

  .subheader {
    display: block;
  }

  .intro {
    flex-direction: row;
    padding-top: 200px;
  }

  .progressBar {
    margin-top: 80px;
  }

  .header {
    font-size: 100px;
    line-height: 100px;
  }

  .barGroup {
    display: flex;
  }
}
