@import '~styles/variables';

.outerWrap {
  background-color: black;
  display: block;
  height: 80px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.topnav {
  align-items: center;
  background-color: black;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1275px;
  padding: 0 16px;
  position: relative;
  z-index: 2;
}

.flexWrap {
  align-items: center;
  display: flex;
}

.contact {
  color: $magenta;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.navItem {
  align-items: center;
  color: white;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  margin-left: 70px;

  &::after {
    border-right: 2px solid white;
    border-top: 2px solid white;
    content: "";
    display: inline-block;
    height: 4px;
    margin: 0px 8px 0 15px;
    position: relative;
    transform: rotate(135deg);
    transition: all 0.15s ease-in-out;
    width: 4px;
  }

  &.active::after {
    transform: rotate(-45deg);
  }
}
