@import '~styles/mixins';

.container {
  background: url('~images/texture_bg3.jpg');
  background-position: 0 -1px;
  background-size: cover;
  box-sizing: border-box;
  color: white;
  padding-bottom: 40px;
  position: relative;
  z-index: 1;
}

.layout {
  @include layout;
  padding-top: 150px;
  text-align: left;
}

.block {
  margin-bottom: 90px;
}

.topic {
  @include topic;
  text-transform: uppercase;
}

.header {
  @include header;
}

.body {
  color: white;
  line-height: 24px;
  margin-bottom: 30px;
  max-width: 680px;
}

@media (min-width: $screen-md-min) {
  .container {
    background: url('~images/texture_bg.png');
  }

  .layout {
    padding-top: 235px;
  }
}
