@import '~styles/mixins';
@import '~styles/variables';

.container {
  color: white;
  position: relative;
  text-align: left;
}

.containerBackground {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.layout {
  @include layout;
  position: relative;
}

.header {
  font-family: $title;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  max-width: 650px;
  text-transform: uppercase;
}

.main {
  display: flex;
  padding: 200px 0;
}

.subheader {
  @include subheader;
  margin-top: 30px;
  max-width: 600px;
  text-align: left;
}

.topic {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  text-transform: uppercase;
}

@media (min-width: $screen-sm-min) {
  .container {
    height: 840px;
  }

  .containerBackground {
    background-position: 0 -21px;
  }

  .header {
    font-size: 100px;
    line-height: 95px;
  }

  .main {
    padding: 200px 0 0;
  }
}
