@import '~styles/mixins.scss';

.container {
  background: url('~images/test.png');
  height: 615px;
  position: relative;
}

.layout {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  @include layout;
}

.header {
  @include header;
  color: white;
  margin-bottom: 40px;
  padding-top: 315px;
}

.button {
  @include learnButton(210px)
}
