@import '~styles/mixins.scss';

.container {
  height: 1280px;
  position: relative;
}

.layout {
  @include layout;
  position: relative;
}

.page {
  position: absolute;
}

.left {
  left: 0;
  top: -380px;
  width: 100vw;
}

.right {
  right: 0px;
  top: 600px;
  width: 100vw;
}

.rectangle {
  background-image: url('~images/rectangle_1.jpg');
  background-size: cover;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: center;
  left: 0;
  padding: 40px;
  position: absolute;
  text-align: left;
  top: 110px;
  width: 100%;
}

.body {
  font-family: $title;
  font-size: 24px;
  margin-bottom: 30px;
}

@media (min-width: $screen-sm-min) {
  .left {
    display: none;
    left: 175px;
    top: -220px;
    width: initial;
  }

  .right {
    right: 0;
    top: -340px;
    width: initial;
  }

  .rectangle {
    height: 525px;
    left: 20px;
    width: 360px;
  }
}

@media (min-width: $screen-md-min) {
  .left {
    display: block;
  }
}
