@import '~styles/variables';
@import '~styles/mixins';

.dropdownOuterwrap {
  background: #0a0a0a;
  height: 380px;
  max-width: $app-width;
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 2;

  &.mobile {
    background: transparent;
    height: 100vh;
    top: 0;
  }
}

.mobile {
  padding-left: 50px;

  .slant {
    display: none;
  }

  .dropdown {
    flex-direction: column;
  }

  .titleBlock {
    border-bottom: 1px solid #777;
    border-right: none;
    margin-bottom: 30px;
    max-width: 350px;
    padding: 0 0 30px 0;
  }

  .linkBlock {
    background: #333;
    height: 200px;
    margin-bottom: 20px;
    margin-left: 0;
    max-width: 350px;
    padding: 20px;
  }

  .button {
    border: none;
  }

  .row {
    flex-direction: column;
  }
}

.overlay {
  @include overlay;
}

.dropdown {
  color: white;
  display: flex;
  margin: 0 auto;
  max-width: $container-width;
  padding-top: 50px;
  text-align: left;
}

.titleBlock, .linkBlock {
  opacity: 0;
  transition: opacity 0.4s 0.2s;
}

.active .titleBlock, .active .linkBlock {
  opacity: 1;
}

.titleBlock {
  border-right: 1px solid #777777;
  max-width: 180px;
  padding-right: 85px;
  padding-top: 25px;
  z-index: 1;
}

.header {
  font-size: 36px;
  font-weight: 300;
  line-height: 36px;
  margin-bottom: 20px;
}

.subHeader, .linkBody {
  color: #777777;
}

.row {
  display: flex;
  width: 100%;
}

.linkBlock {
  display: flex;
  flex-direction: column;
  height: 226px;
  justify-content: space-between;
  margin-left: 8.5%;
  max-width: 180px;
  padding-top: 25px;
  z-index: 1;
}

.linkHeader {
  margin-bottom: 20px;
}

.linkBody {
  font-size: 14px;
}

.button {
  @include learnButton(150px);
  color: white;

  margin-top: 40px;
}

.slant {
  fill: #1d1d1d;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 165px;
}
