@import '~styles/variables';
@import '~styles/mixins';

.dropdownOuterwrap {
  background: #0a0a0a;
  height: 380px;
  max-width: $app-width;
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 2;
  display: none;

  &.mobile {
    background: transparent;
    height: 100vh;
    top: 0;
    display: block;
    padding: 0;
  }
}

.mobile {
  padding-left: 10vw;

  .slant {
    display: none;
  }

  .dropdown {
    padding-left: 10vw;
    flex-direction: column;
  }

  .titleBlock {
    border-right: none;
    max-width: 350px;
  }

  .linkBlock {
    height: unset;
    margin-bottom: 20px;
    margin-left: 0;
    padding-top: 15px;
    max-width: 350px;
  }

  .linkBody {
    line-height: 18px;
  }

  .linkHeader {
    font-size: 36px;
    font-family: $title;
    cursor: pointer;
  }

  .button {
    display: none;
  }

  .row {
    flex-direction: column;
  }

  .header {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0px;
    cursor: pointer;
    position: relative;

    &:before {
      border-right: 3px solid white;
      border-top: 3px solid white;
      content: "";
      display: inline-block;
      height: 5px;
      margin: 0px 8px 2px 0px;
      position: relative;
      transform: rotate(225deg);
      transition: all 0.15s ease-in-out;
      width: 5px;
    }
  }

  .subHeader {
    display: none;
  }

  .linkHeader {
    margin-bottom: 5px;
  }
}

.overlay {
  @include overlay;
}

.dropdown {
  color: white;
  display: flex;
  margin: 0 auto;
  max-width: $container-width;
  padding: 50px 20px 0;
  text-align: left;
}

.titleBlock, .linkBlock {
  opacity: 0;
  transition: opacity 0.4s 0.2s;
}

.active .titleBlock, .active .linkBlock {
  opacity: 1;
}

.titleBlock {
  border-right: 1px solid #777777;
  max-width: 180px;
  padding-right: 85px;
  padding-top: 25px;
  z-index: 1;
}

.header {
  font-size: 36px;
  font-weight: 300;
  line-height: 36px;
  margin-bottom: 20px;
}

.subHeader, .linkBody {
  color: #777777;
}

.row {
  display: flex;
  width: 100%;
}

.linkBlock {
  display: flex;
  flex-direction: column;
  height: 226px;
  justify-content: space-between;
  margin-left: 8.5%;
  max-width: 180px;
  padding-top: 25px;
  z-index: 1;
}

.linkHeader {
  margin-bottom: 20px;
}

.linkBody {
  font-size: 14px;
}

.button {
  @include learnButton(150px);
  color: white;
  margin-top: 40px;

  &.active {
    background-color: white;
    color: black;
  }
}

.slant {
  fill: #1d1d1d;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 165px;
}

@media (min-width: $screen-lg-min) {
  .dropdownOuterwrap {
    display: block;
  }
}
