@import '~styles/variables';

.footer {
  align-items: center;
  background: black;
  display: flex;
  height: 225px;
  justify-content: center;
  width: 1005;
}

.filler {
  color: white;
  font-family: $title;
  font-size: 44px;
  font-style: normal;
  font-weight: bold;
  font-weight: 700;
}
