@import '~styles/variables';

.footer {
  align-items: center;
  background: black;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 100%;
}

.innerWrap {
  width: 100%;
  max-width: $container-width;
  display: flex;
  justify-content: space-between;
  color: white;
  opacity: 0.3;
  font-size: 12px;

  a {
    color: white;
  }
}
