.App {
  background-color: white;
  margin: 0 auto;
  max-width: 1680px;
  text-align: center;;
}

body {
  background-color: #555;
  color: #292a2d;
  font-family: 'Lato';
  font-size: 18px;
  overflow-x: hidden;
}
