@import '~styles/mixins';
@import '~styles/variables';

.container {
  background: white;
  fill: white;
  padding-bottom: 40px;
  position: relative;
}

.layout {
  align-items: center;
  display: flex;
  flex-direction: column;
  @include layout;
}

.header {
  @include header;
  padding-top: 40px;
}

.subheader {
  @include subheader;
  margin-top: 18px;
  max-width: 780px;
}

.logos {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 120px;
  max-width: $container-width;

  img {
    margin: 0 40px 70px;
    max-width: 100px;
  }
}

.withPadding {
  padding-top: 140px;
}

@media (min-width: $screen-sm-min) {
  .logos {
    justify-content: space-between;

    img {
      margin: 0 100px 70px;
    }
  }
}
