@import '~styles/mixins';
@import '~styles/variables';

.container {
  background: white;
  fill: white;
  padding-bottom: 40px;
  position: relative;
}

.layout {
  align-items: center;
  display: flex;
  flex-direction: column;
  @include layout;
}

.header {
  @include header;
}

.subheader {
  @include subheader;
  margin-top: 18px;
  max-width: 780px;
}

.block {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;

  .block:last-child {
    background-image: none;
  }
}

.logos {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: $container-width;
  padding-top: 120px;
  position: relative;

  &::after {
    background: linear-gradient(white, transparent);
    content: '';
    height: 150px;
    position: absolute;
    top: 0;
    width: 100%;
  }

  img {
    height: 70px;
    margin: 0 40px 70px;
    object-fit: contain;
    width: 100px;
  }
}

.withPadding {
  padding-top: 140px;
}

@media (min-width: $screen-sm-min) {
  .logos {
    justify-content: space-between;

    img {
      margin: 0 100px 70px;
    }
  }
}

@media (min-width: $screen-md-min) {
  .logos {
    padding-top: 0px;
  }

  .column {
    flex-direction: row;
  }

  .header {
    padding-top: 40px;
  }

  .block {
    background-image: linear-gradient(#efefef 33%, rgba(255,255,255,0) 0%);
    background-position: right;
    background-repeat: repeat-y;
    background-size: 2px 10px;
    padding-top: 120px;
  }
}
